#[submodule "jobsystem.layouts"]
#	path = jobsystem.layouts
#	url = boran_git@ssh.alwaysdata.com:jobsystem.layouts
[submodule "images"]
	path = images
	url = boran_git@ssh.alwaysdata.com:jobsystem.images
