<check if="{{ @job.Extrusion<>'N' }}">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEx">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseEx" aria-expanded="true" aria-controls="collapseEx">Extrusion: {{@job.Extruder}}</a>
      </h4>
    </div>
    <div id="collapseEx" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingEx"><div class="panel-body">

  <!-- calc densities-->
  <set Ex_l1_dens="{{@job.Ex_l1_m1_per}}*{{@job.Ex_l1_m1_dens}}/100 + {{@job.Ex_l1_m2_per}}*{{@job.Ex_l1_m2_dens}}/100
                 + {{@job.Ex_l1_m3_per}}*{{@job.Ex_l1_m3_dens}}/100 + {{@job.Ex_l1_m4_per}}*{{@job.Ex_l1_m4_dens}}/100
                 + {{@job.Ex_l1_m5_per}}*{{@job.Ex_l1_m5_dens}}/100 + {{@job.Ex_l1_m6_per}}*{{@job.Ex_l1_m6_dens}}/100 "/>
  <set Ex_l2_dens="{{@job.Ex_l2_m1_per}}*{{@job.Ex_l2_m1_dens}}/100 + {{@job.Ex_l2_m2_per}}*{{@job.Ex_l2_m2_dens}}/100
                 + {{@job.Ex_l2_m3_per}}*{{@job.Ex_l2_m3_dens}}/100 + {{@job.Ex_l2_m4_per}}*{{@job.Ex_l2_m4_dens}}/100 "/>
  <set Ex_l3_dens="{{@job.Ex_l3_m1_per}}*{{@job.Ex_l3_m1_dens}}/100 + {{@job.Ex_l3_m2_per}}*{{@job.Ex_l3_m2_dens}}/100
                 + {{@job.Ex_l3_m3_per}}*{{@job.Ex_l3_m3_dens}}/100 + {{@job.Ex_l3_m4_per}}*{{@job.Ex_l3_m4_dens}}/100
                 + {{@job.Ex_l3_m5_per}}*{{@job.Ex_l3_m5_dens}}/100 + {{@job.Ex_l3_m6_per}}*{{@job.Ex_l3_m6_dens}}/100 "/>
  <set Ex_totalmu="{{@job.Ex_l1_guage}} + {{@job.Ex_l2_guage}} + {{@job.Ex_l3_guage}}"/>
  <set Ex_dens="{{@Ex_l1_dens}} * {{@job.Ex_l1_guage}} / {{@Ex_totalmu}} 
               +{{@Ex_l2_dens}} * {{@job.Ex_l2_guage}} / {{@Ex_totalmu}}
               +{{@Ex_l3_dens}} * {{@job.Ex_l3_guage}} / {{@Ex_totalmu}} "/>

  <div class="row">
    <div class="col-xs-2">
      <table class="table table-condensed"><tbody>
        <tr><td>Width Blown</td><td>{{@job.Ex_overall_width}}</td></tr>
        <tr><td>Gusseted to</td><td>{{@job.Gus_width}}</td></tr>
        <tr><td>Spec Thickness</td><td>{{@job.Ex_toler}}</td></tr>
        <tr><td>Run Thickness</td><td>{{@job.Ex_thick2}}</td></tr>
        <tr><td>Average Density</td><td>{{ '{0,number,decimal,3}',@Ex_dens |format }}</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-3">
      <table class="table table-condensed"><tbody>
        <tr><td>Film type</td><td>{{@job.ex_filmtype_lookup}}<img src={{@BASE}}/images/{{@job.ex_filmtype_image}}></td></tr>
        <tr><td>Colour</td><td>{{@job.Film_col}}</td></tr>
        <tr><td>Weight(kgs)</td><td>{{@job.Ex_weight}}</td></tr>
        <tr><td>Mts each clock</td><td>{{@job.Ex_meters}}</td></tr>
        <tr><td>Treated</td><td>{{@job.Ex_treat}}</td></tr>
        <tr><td>Micro perf.</td><td>{{@job.Ex_perf}}</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-4">
      <table class="table table-condensed"><tbody>
        <tr><td>Rolls: {{@job.ExUp}}Up</td><td>
          <check if="{{ @job.ex_roll1 }}"><img src={{@BASE}}/images/reelh.png>{{@job.ex_roll1}}</check> 
          <check if="{{ @job.ex_roll2 }}"><img src={{@BASE}}/images/reelh.png>{{@job.ex_roll2}}</check> 
          <check if="{{ @job.ex_roll3 }}"><img src={{@BASE}}/images/reelh.png>{{@job.ex_roll3}}</check> 
          <check if="{{ @job.ex_roll4 }}"><img src={{@BASE}}/images/reelh.png>{{@job.ex_roll4}}</check> 
        </td></tr>
        <tr><td>Rollsize</td><td>{{@job.Ex_rollsize}}</td></tr>
        <tr><td>No. of Rolls</td><td>{{@job.Ex_no_rolls}}</td></tr>
        <tr><td>Wrap rolls</td><td>{{@job.Ex_wrap}}</td></tr>
        <tr><td>Labels</td><td>{{@job.Ex_labels}}</td></tr>
        <tr><td>Take Trim</td><td>{{@job.ex_trim}}</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-3">
      <table class="table table-condensed"><tbody>
        <tr><td>Kgs/hr</td><td>{{ '{0,number,decimal,0}',@job.Ex_set_screw|format }}</td></tr>
        <tr><td>S.%MD</td><td>{{@job.ex_shrinkmd}}</td></tr>
        <tr><td>S.%TD</td><td>{{@job.ex_shrinktd}}</td></tr>
        <tr><td>Core</td><td>{{@job.ex_core}}</td></tr>
        <tr><td>Tear stren.</td><td>{{@job.ex_tear}}</td></tr>
        <tr><td>Target BUR</td><td>{{@job.ex_targetbur}}</td></tr>
        <tr><td>Heat barrel</td><td>{{@job.Ex_heat1}}</td></tr>
        <tr><td>Heat head</td><td>{{@job.Ex_heat2}}</td></tr>
      </tbody></table>
    </div>

    <check if="{{ @job.ex_text }}">
      <div class="col-xs-12">Instructions: {{@job.ex_text}}<hr></div>
    </check>
  </div>
<exclude>
      <p>Thickness {{ '{0,number,decimal,0}',@job.Ex_l1_guage|format }}% {{@job.Ex_thick2*@job.Ex_l1_guage/100}}mu  Dens.
      {{ '{0,number,decimal,3}', @job.Ex_l1_dens |format }}</p>

        {{ '{0,number,decimal,3}', @job.Ex_l1_m1_per*@job.Ex_l1_m1_dens/100 + @job.Ex_l1_m2_per*@job.Ex_l1_m2_dens/100 
                                 + @job.Ex_l1_m3_per*@job.Ex_l1_m3_dens/100 + @job.Ex_l1_m4_per*@job.Ex_l1_m4_dens/100 
                                 + @job.Ex_l1_m5_per*@job.Ex_l1_m5_dens/100 + @job.Ex_l1_m6_per*@job.Ex_l1_m6_dens/100 
      <set Ex_l1_dens={{@job.Ex_l1_m1_per*@job.Ex_l1_m1_dens/100 + @job.Ex_l1_m2_per*@job.Ex_l1_m2_dens/100
                      + @job.Ex_l1_m3_per*@job.Ex_l1_m3_dens/100 + @job.Ex_l1_m4_per*@job.Ex_l1_m4_dens/100
                      + @job.Ex_l1_m5_per*@job.Ex_l1_m5_dens/100 + @job.Ex_l1_m6_per*@job.Ex_l1_m6_dens/100
      }}/>
      <set foo="0.1234" />
      <set foo={{0.1234}} />
      <set foo="{{@job.Ex_l1_m1_per+ @job.Ex_l1_m2_per}}" />
      <set foo=@job.Ex_l1_m1_per+ @job.Ex_l1_m2_per />
      <set foo="{{0.1234}}" />
      <set foo="{{0.1234 * 2}}" />
      <set Ex_l1_dens="{{@job.Ex_l1_m1_per*@job.Ex_l1_m1_dens/100 + @job.Ex_l1_m2_per*@job.Ex_l1_m2_dens/100
                      + @job.Ex_l1_m3_per*@job.Ex_l1_m3_dens/100 + @job.Ex_l1_m4_per*@job.Ex_l1_m4_dens/100
                      + @job.Ex_l1_m5_per*@job.Ex_l1_m5_dens/100 + @job.Ex_l1_m6_per*@job.Ex_l1_m6_dens/100 }}"/>
      <set foo="{{@job.Ex_l1_m1_per}} * {{@job.Ex_l1_m1_dens}}/100+ {{@job.Ex_l1_m2_per}}" />
      foo={{@foo}}
      {{@foo}}
</exclude>
  <div class="row">
    <div class="col-xs-4">
      <h4>EXT A</h4><br/>
      <p>Thickness {{ '{0,number,decimal,0}',@job.Ex_l1_guage|format }}% => {{ '{0,number,decimal,1}',@job.Ex_thick2*@job.Ex_l1_guage/100|format}}mu (Dens.
        {{ '{0,number,decimal,3}', @Ex_l1_dens |format }})</p>
      <table class="table table-condensed"><tbody>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l1_m1_per|format }}%</td><td>{{@job.Ex_l1_m1_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l1_m2_per|format }}%</td><td>{{@job.Ex_l1_m2_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l1_m3_per|format }}%</td><td>{{@job.Ex_l1_m3_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l1_m4_per|format }}%</td><td>{{@job.Ex_l1_m4_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l1_m5_per|format }}%</td><td>{{@job.Ex_l1_m5_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l1_m6_per|format }}%</td><td>{{@job.Ex_l1_m6_mat}}</td></tr>
      </tbody></table>
      <p>Slip: {{@job.e_slipa}}</p>
    </div>

    <div class="col-xs-4">
      <h4>EXT B</h4><br/>
      <p>Thickness {{ '{0,number,decimal,0}',@job.Ex_l2_guage|format }}% {{ '{0,number,decimal,1}',@job.Ex_thick2*@job.Ex_l2_guage/100 |format }}mu  Dens.
        {{ '{0,number,decimal,3}', @Ex_l2_dens |format }})</p>
      <table class="table table-condensed"><tbody>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l2_m1_per|format }}%</td><td>{{@job.Ex_l2_m1_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l2_m2_per|format }}%</td><td>{{@job.Ex_l2_m2_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l2_m3_per|format }}%</td><td>{{@job.Ex_l2_m3_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l2_m4_per|format }}%</td><td>{{@job.Ex_l2_m4_mat}}</td></tr>
        <tr><td>.</td><td></td></tr>
        <tr><td>.</td><td></td></tr>
      </tbody></table>
      <p>Slip: {{@job.e_slipb}}</p>
    </div>

    <div class="col-xs-4">
      <h4>EXT C</h4><br/>
      <p>Thickness {{ '{0,number,decimal,0}',@job.Ex_l3_guage|format }}% {{ '{0,number,decimal,1}',@job.Ex_thick2*@job.Ex_l3_guage/100 |format }}mu  Dens.
        {{ '{0,number,decimal,3}', @Ex_l3_dens |format }})</p>
      <table class="table table-condensed"><tbody>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l3_m1_per|format }}%</td><td>{{@job.Ex_l3_m1_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l3_m2_per|format }}%</td><td>{{@job.Ex_l3_m2_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l3_m3_per|format }}%</td><td>{{@job.Ex_l3_m3_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l3_m4_per|format }}%</td><td>{{@job.Ex_l3_m4_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l3_m5_per|format }}%</td><td>{{@job.Ex_l3_m5_mat}}</td></tr>
        <tr><td>{{ '{0,number,decimal,0}',@job.Ex_l3_m6_per|format }}%</td><td>{{@job.Ex_l3_m6_mat}}</td></tr>
      </tbody></table>
      <p>Slip: {{@job.e_slipc}}</p>
    </div>

  </div> 

  </div> 
  </div></div> <!-- panel-bodylanel-collapse -->
</check>

