<!-- job.htm -->
<div class="container">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">General: Jobcard <strong>{{@job.Job}}</strong>, "{{@job.Print_ref}}"</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"><div class="panel-body">

  <div class="row">
    <div class="col-xs-3">
      <table class="table table-condensed"><tbody>
<exclude> ----- experiments ---
        <tr><td>Jobcard</td><td><strong><mark>{{@job.Job}}</mark></strong></td></tr> 
        <hr>
        <p>Product reference:</p>
        <p class="lead">
        {{@job.Print_ref}}</p>
        <tr><td>foocontact</td><td>{{ @job::foo('foo') }}</td></tr>
        <tr><td>Order date</td><td>{{ '{0,date,custom,%MM%yy}',@job.Ord_date|format }}</td></tr>
        <tr><td>Order date</td><td>{{ '{0,date,long}',strtotime(@job.Ord_date)|format }}</td></tr>
        <tr><td>Order date</td><td>{{ '{0,date,custom,%d-%m-%y}',strtotime(@job.Ord_date)|format }}</td></tr>
        <tr><td>Order date</td><td>{{ '{0,time}',strtotime(@job.Ord_date)|format }}</td></tr>
</exclude>
        <tr><td>Order contact</td><td>{{@job.Ord_contact}}</td></tr>
        <tr><td>Order No.</td><td>{{@job.Ord_no}}</td></tr>
        <tr><td>Order date</td><td>{{ '{0,date}',strtotime(@job.Ord_date)|format }}</td></tr>
        <tr><td>Del date1</td><td><strong>{{ '{0,date}',strtotime(@job.Del_date1)|format }}</strong></td></tr>
        <tr><td>Del date2</td><td>{{ '{0,date}',strtotime(@job.Del_date2)|format }}</td></tr>
        <tr><td>Cust. part no.</td><td>{{@job.Cust_part}}</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-3">
      <table class="table table-condensed"><tbody>
        <tr><td><abbr title="Some abbreviation help text">Colour</abbr></td><td><strong>{{@job.Film_col}}</strong></td></tr>
        <tr><td>Width</td><td><strong>{{@job.Overall_width}}</strong></td></tr>
        <tr><td>Gusset to</td><td>{{@job.Gus_width}}</td></tr>
        <tr><td>Length</td><td><strong>{{@job.Cn_size}}</strong></td></tr>
        <tr><td>Bottom gusset</td><td>{{@job.Bottom_gusset}}</td></tr>
        <tr><td>Flapsize</td><td>{{@job.Flap_size}}</td></tr>
        <tr><td>Thickness</td><td>{{@job.Guage}} mu</td></tr>
        <tr><td>Quantity</td><td><strong>{{@job.Quantity}} x {{@job.UnitOfSale}}</strong></td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-3">
      <table class="table table-condensed"><tbody>
        <tr><td>Priority</td><td>{{@job.JpriorityLookup}}</td></tr>
        <tr><td>Job status</td><td>{{@job.JobStatus}}</td></tr>
        <tr><td>Stock item</td><td>{{@job.S_item_Lookup}}</td></tr>
        <tr><td>Spec</td><td><strong>{{@job.Spec}}</strong></td></tr>
        <tr><td>Product</td><td>{{@job.Prod_codeLookup}}</td></tr>
        <tr><td>Film/bags?</td><td>{{@job.Film_or_bags}}</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-3">
      <address>
      <strong>{{@job.Customer}}</strong><br>
      {{@job.ADDRESS_1}}<br>
      {{@job.ADDRESS_2}}<br>
      {{@job.ADDRESS_3}}<br>
      {{@job.ADDRESS_4}}
      </address>
      <table class="table table-condensed"><tbody>
        <tr><td>Spec approved by</td><td>{{@job.Spec_by}}</td></tr>
        <tr><td>Job approved by</td><td>{{@job.Entered_by}}</td></tr>
      </tbody></table>
    </div>
  </div>
  </div>
  </div></div> <!-- panel-bodylanel-collapse -->

<include href="views/extrusion.htm"/>

  <check if="{{ @job.Extra_text }}">
    <div class="row">
      <h4> <div class="col-xs-12">Additional Instructions: {{@job.Extra_text}}<hr></div>  </h4>
    </div>
  </check>

<include href="views/slitting.htm"/>
<include href="views/printing.htm"/>
<include href="views/lamination.htm"/>
<include href="views/conversion.htm"/>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingDel">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseDel" aria-expanded="true" aria-controls="collapseDel">Delivery/Pallets</a>
      </h4>
    </div>
    <div id="collapseDel" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingDel"><div class="panel-body">

  <div class="row">
    <div class="col-xs-3">
      <table class="table table-condensed"><tbody>
        <tr><td>For food use</td><td>{{@job.food_use}}</td></tr>
        <tr><td>Pallet layout</td><td>todo</td></tr>
        <tr><td>Roll diam</td><td>todo</td></tr>
        <tr><td>Roll weight</td><td>todo</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-3">
      <table class="table table-condensed"><tbody>
        <tr><td>Shrink wrap pallet</td><td>{{@job.Pallet_shrink}}</td></tr>
        <tr><td>Strap pallet</td><td>{{@job.Pallet_strap}}</td></tr>
        <tr><td>Stack reels</td><td>{{@job.Stack_reels}}</td></tr>
        <tr><td>Pallet</td><td>todo</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-3">Packaging Instructions: {{@job.pack_text}}</div>
    <div class="col-xs-3">Delivery Instructions: {{@job.del_text}}</div>
    </div>
  </div>
  </div> <!-- Delivery -->
  </div></div> <!-- panel-bodylanel-collapse -->


</div>
</div> <!-- /container -->
<!-- end job.htm -->
