<div class="container">
<div class=hero-unit>
  <h3>Next 30 Printer Jobs by Sequence</h3>
</div>
<table class="table table-hover sortable">
  <thead>
    <tr>
      <th data-defaultsort="desc">Seq</th>
      <th>Job</th>
      <th>Printer</th>
      <th>Print_ref</th>
      <th>Customer</th>
      <th>JobStatus</th>
      <th>Del_date1</th>
      <th>Depts</th>
    </tr>
  </thead>
  <tbody>
  <repeat group="{{ @result }}" value="{{ @item }}">
   <tr>
    <td>{{@item.prodspr}}</td>
    <td><a href={{@BASE}}/job/{{@item.Job}}>{{@item.Job}}</td>
    <td>{{@item.PrinterLookup}}</td>
    <td>{{@item.Print_ref}}</td>
    <td>{{@item.Customer}}</td>
    <td>{{@item.JobStatus}}</td>
    <td>{{@item.Del_date1}}</td>
    <td>
       <check if="{{ @item.Extrusion<>'N' }}">E</check>
       <check if="{{ @item.Slitting<>'N' }}">S</check>
       <check if="{{ @item.Lamination<>'N' }}">L</check>
       <check if="{{ @item.Printing<>'N' }}">P</check>
       <check if="{{ @item.Conversion<>'N' }}">C</check>
    </td>
  </tr>
  </repeat>
  </tbody>
</table>
</div>
