<check if="{{ @job.Lamination<>'N' }}">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingLm">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseLm" aria-expanded="true" aria-controls="collapseLm">Lamination</a>
      </h4>
    </div>
    <div id="collapseLm" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingLm"><div class="panel-body">

  <div class="row">
    <div class="col-xs-3">
      <table class="table table-condensed"><tbody>
        <tr><td>Lm meters</td><td>{{@job.Lm_meters}}</td></tr>
        <tr><td>Sleeve</td><td>{{@job.LmSleeve}}</td></tr>
        <tr><td>Setup time</td><td>{{@job.Lm_setup}}</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-7">
      <table class="table table-condensed"><tbody>
        <tr><td>Top</td><td>{{@job.Lm_A_matLookup}}</td><td>{{@job.Lm_a_size}}</td><td>{{@job.Lm_a_gauge}}</td></tr>
        <tr><td>Mid</td><td>{{@job.Lm_B_matLookup}}</td><td>{{@job.Lm_b_size}}</td><td>{{@job.Lm_b_gauge}}</td></tr>
        <tr><td>Bottom</td><td>{{@job.Lm_C_matLookup}}</td><td>{{@job.Lm_c_size}}</td><td>{{@job.Lm_c_gauge}}</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-2">
        Rewind: {{@job.Lm_rewdir}}<img src={{@BASE}}/images/rewdirp{{@job.Lm_rewdir}}.png>
    </div>
    <check if="{{ @job.lm_text }}">
      <div class="col-xs-12">Instructions: {{@job.lm_text}}<hr></div>
    </check>
  </div>
  </div> <!-- lamination -->
  </div></div> <!-- panel-bodylanel-collapse -->
</check>

