<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <meta name="description" content>
  <title>Jobcard print view</title>

  <link type="text/css" rel="stylesheet" href="{{@BASE}}/bootstrap/css/bootstrap.min.css" media="all" />
  <link type="text/css" rel="stylesheet" href="{{@BASE}}/bootstrap-sortable/Contents/bootstrap-sortable.css" media="all" />

</head>

<body>
  <include href="views/nav.htm"/>
  <!-- The body from the controller -->
  <include href="{{$tpl}}"/>
<hr>
<check if="{{ @SESSION }}">
  <true> <check if="{{ @SESSION.user_id }}">
    Login: {{@SESSION.user_id}}<br>
    <a href="{{@BASE}}/logout">Logout</a>
  </check></true>
  <false>
    <a href="{{@BASE}}/login">Login</a>
  </false>
</check>

<!-- body footer -->
  <script src="//code.jquery.com/jquery.js"></script>  
  <script src="{{@BASE}}/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{@BASE}}/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>
  <script src="{{@BASE}}/bootstrap-sortable/Scripts/moment.min.js"></script>
<exclude>
  <script src="///maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- 
  <script src="../../bootstrap/js/bootstrap.min.js"></script>
  <hr>
  <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" media="all" />
  -->  
</exclude>

</body>
</html>
