<check if="{{ @job.Printing<>'N' }}">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Printing: {{@job.PrinterLookup}}</a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo"><div class="panel-body">

  <div class="row">
    <div class="col-xs-3">
      <table class="table table-striped"><tbody>
        <tr><td>Machine</td><td>{{@job.PrinterLookup}}</td></tr>
        <tr><td>Material</td><td>{{@job.pr_material}}</td></tr>
        <tr><td>Thickness</td><td>{{@job.Pr_thick}}</td></tr>
        <tr><td>Width</td><td>{{ '{0,number,decimal,0}',@job.Pr_width|format}}</td></tr>
        <tr><td>Weight</td><td>{{@job.Pr_kgs}}</td></tr>
        <tr><td>Metres</td><td>{{@job.pr_m}}</td></tr>
        <tr><td>Plates</td><td>{{@job.Plates}}</td></tr>
        <tr><td>Design sheet</td><td>
          <a target=_blank href={{@jobini.SpecDesignPath}}/{{@CustPath}}/spec{{@job.Spec}}.pdf>Normal</a>,
          <a href={{@jobini.SpecDesignPath}}/{{@CustPath}}/spec{{@job.Spec}}_tech.pdf>Technical</a>,
          <a href={{@jobini.SpecDesignPath}}/{{@CustPath}}/spec{{@job.Spec}}_step.pdf>Stepped</a>
        </td></tr>
      </tbody></table>
    </div>
    <exclude>
      {{@job.Print_ref}}<br>
    </exclude>
    <div class="col-xs-3">
      <table class="table table-condensed"><tbody>
        <tr><td>Design</td><td>{{@job.Pr_design1}}</td></tr>
        <tr><td>Barcode</td><td>{{@job.Pr_barcode1}}</td></tr>
        <tr><td>Sides</td><td>{{@job.Pr_sides}}</td></tr>
        <tr><td>Steroes</td><td>{{@job.Pr_no_stereo}} {{@job.Pr_no_across}} a</td></tr>
        <tr><td>Roll size</td><td>{{@job.Pr_rollsize}}</td></tr>
        <tr><td>Cylinder</td><td>{{@job.PrintCylinder}}</td></tr>
        <tr><td>Eyemark</td><td>{{@job.Pr_eyemark}}</td></tr>
        <tr><td>Repeat</td><td>{{@job.Pr_direction}}</td></tr>
        <tr><td>Position</td><td>{{@job.Pr_position}}</td></tr>
        <tr><td>Print</td><td>{{@job.Pr_type}}</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-3 ">
      <table class="table "><tbody>
        <tr><td>Rewind: {{@job.Pr_rewdir}}</td><td><img src={{@BASE}}/images/rewdirp{{@job.Pr_rewdir}}.png></td></tr>
        <tr><td>Ink Type</td><td>{{@job.Ink_Type}}</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-3">
      <table class="table table-condensed">
      <thead><tr><th>Nr.</th><th>Colour</th><th>Anilox</th></tr></thead>
      <tbody>
        <tr><td>1</td><td>{{@job.Colour1}}</td><td>{{@job.Anilox1}}</td></tr>
        <tr><td>2</td><td>{{@job.Colour2}}</td><td>{{@job.Anilox2}}</td></tr>
        <tr><td>3</td><td>{{@job.Colour3}}</td><td>{{@job.Anilox3}}</td></tr>
        <tr><td>4</td><td>{{@job.Colour4}}</td><td>{{@job.Anilox4}}</td></tr>
        <tr><td>5</td><td>{{@job.Colour5}}</td><td>{{@job.Anilox5}}</td></tr>
        <tr><td>6</td><td>{{@job.Colour6}}</td><td>{{@job.Anilox6}}</td></tr>
        <tr><td>7</td><td>{{@job.Colour7}}</td><td>{{@job.Anilox7}}</td></tr>
        <tr><td>8</td><td>{{@job.Colour8}}</td><td>{{@job.Anilox8}}</td></tr>
      </tbody></table>
    </div>
    <div class="col-xs-12">Instructions: {{@job.pr_text}}<hr></div>
  </div>
  </div> <!-- printing -->
  </div></div> <!-- panel-bodylanel-collapse -->

</check>
